# SeuFisio credentials
SEUFISIO_USER=
SEUFISIO_PASSWORD=
SEUFISIO_CLIENT_SECRET=
SEUFISIO_CLINIC_ID=9208

# OpenClaw access token
API_SECRET_TOKEN=

# Reposição config
MAX_ATTENDANCES_PER_HOUR=4

# Server
PORT=3000
